body {
  padding-top: 3.5rem;
}

.carousel-item {
  height: 80vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("../img/bg1.jpg");
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("../img/bg2.jpg");
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("../img/bg3.jpg");
}
